/* Modal overlay styles */
.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* Modal content styles */
  .ReactModal__Content {
    position: relative;
    background-color: white; /* Optional: Adds a white background to the modal */
    border-radius: 8px; /* Optional: Adds rounded corners to the modal */
    padding: 20px; /* Optional: Adds padding to the modal content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Optional: Adds a box shadow to the modal */
  }
  
 
  