.menu-overlay {
    position: absolute;
    top: 10vh;
    width: 11vw;
    height: fit-content;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    display: flex;
    z-index: 99999999;
    
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .menu-box {
    background-color: white;
    padding: 9px;
    border-radius: 8px;
    border: 2px solid #FACC15;
  }
  