
body{
    background-color: white !important;
}

.btn1 {
    width: 100%;
    background-color: #FACC15;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    
}

.btn:hover {
    background-color: #EAB308;
    border: solid 4px #de0909dd;
}

.btn:first-child:hover,
:not(.btn-check)+.btn:hover {
    background-color: #EAB308;
    /* border-color:#EAB308; */
    color: rgb(0, 0, 0);
    border: none;
}
.container h1{
    font-weight: 700;
    color: #4F4787;
}

